<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>기본 객체 - Expression Basic Objects</h1>


<h1>편의 객체</h1>
<ul>
  <li>산술연산
    <ul>
      <li>10+2 => <span th:text="10+2"></span></li>
      <li>10%2==0 => <span th:text="10%2==0"></span></li>
    </ul>
  </li>
  <li>비교연산
    <ul>
      <li>1 > 10 => <span th:text="1 &gt; 10"></span></li>
      <li>1 >= 10 => <span th:text="1 >= 10"></span></li>
    </ul>
  </li>
  <li>조건식
    <ul>
      <li>(1-%2==0)?'짝':'홀' => <span th:text="(10%2==0)? '짝': '홀'"></span></li>
      <li>(1-%2==0)?'짝':'홀' => <span th:text="${nullData}?: '데이터가 없다'"></span></li>
    </ul>
  </li>

</ul>
</body>
</html>